<h1> Cats </h1>
<% @cats.each do |cat|%>
    Name: <%= cat.name %><br>
<% end %>
<br>

<h1> Todos </h1>
<% @todos.each do |todo|%>
    Task: <%= todo.tasks %> <br>
    Finished?: <%= todo.finished %><br>
<% end %>
<br>

<h1> Users </h1>
<% @users.each do |user|%>
    Username: <%= user.username %> <br>
    Email: <%= user.email %><br>
    Age: <%= user.age %><br>
<% end %>



